@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/mixins.scss";

.campaign-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding-bottom: 3rem;
}

.campaign-item {
  border-radius: $border-radius-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.campaign-image {
  width: 100%;
  object-fit: contain;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.campaign-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  h3 {
    font-size: 1rem;
    font-weight: 300;
    color: $text-medium;
    padding: 0.5rem;
    margin: 0 0 0 0.25rem;
  }

  button {
    background-color: $white;
    color: #e64e41;
    border: none;
    border-radius: $border-radius-full;
    height: 30px;
    padding: 0 1rem;
    cursor: pointer;
  }
}

@media (min-width: $breakpoint-tablet) {
  .campaign-list {
    grid-template-columns: 1fr 1fr;
  }

  .campaign-item {
    border-radius: $border-radius-medium;
    flex-direction: row;
    padding: 0rem;
  }

  .campaign-image {
    flex: 1;
    img {
      max-width: 130px;
    }
  }

  .campaign-content {
    align-items: flex-start;
    flex: 2;
    padding: 1rem;

    button {
      height: 2.5rem;
    }
  }
}
@media (min-width: $breakpoint-desktop) {
  .campaign-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .campaign-image {
    img {
      max-width: 140px;
    }
  }
}

@media (min-width: $breakpoint-xlarge) {
  .campaign-content {
    h3 {
      font-size: 1.5rem;
    }
  }

  .campaign-image {
    img {
      max-width: unset;
    }
  }
}
