@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/mixins.scss";

.category-button {
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  font-size: $font-size-sm; // 0.875rem = 14px
  width: 195px;
  font-weight: 600;
  height: 50px;
  color: $text-medium;
  cursor: pointer;
  transition: $transition;
  white-space: nowrap;
  background: $background;

  &.active {
    background: $dark-blue;
    color: white;
  }
}
