#root {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  font-family: "Source Sans 3", "Source Sans Pro", system-ui, Avenir, Helvetica,
    Arial, sans-serif;
}

.app {
  margin: 0 auto;
  min-height: 100vh;
}

.main-hr {
  margin: 30px 0;
  border: 1px solid #edf1f2;
}

.container {
  max-width: clamp(400px, 85%, 1500px);
  margin: 0 auto;
  padding: 0 0.5rem;
}
