@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap");

:root {
  font-family: "Source Sans 3", "Source Sans Pro", system-ui, Avenir, Helvetica,
    Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 15px; /* Base font size - 1rem = 15px */
}
